<a href="https://colab.research.google.com/github/yaeldiazzz/Optativa/blob/main/Practica1Optativa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **EJERCICIO 1**

TEORIA:
explicaci√≥n de Series y DataFrames Diferencias y usos de cada estructura

# **INCLUIMOS LAS LIBRERIAS QUE NECESITAMOS**

In [4]:
import pandas as pd
import numpy as np

# **CREAR UNA SERIE**

In [5]:
s=pd.Series([1,3,5,np.nan,6,8])
print("Serie: ")
print(s)

Serie:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## **CREAR UN DATAFRAME**

In [6]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': pd.Timestamp('20230101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})
print("\nDataframe: ")
print(df)

Dataframe:
   A          B    C  D      E    F
0  1 2023-01-01  1.0  3   test  foo
1  2 2023-01-01  1.0  3  train  foo
2  3 2023-01-01  1.0  3   test  foo
3  4 2023-01-01  1.0  3  train  foo

## **EXPLORAR EL DATAFRAME**

In [7]:
print("\nTipos de datos:")
print(df.dtypes)
print("\nPrimeras 2 filas:")
print(df.head(2))
print("\nUltimas 2 filas:")
print(df.tail(2))

Tipos de datos:
A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

Primeras 2 filas:
   A          B    C  D      E    F
0  1 2023-01-01  1.0  3   test  foo
1  2 2023-01-01  1.0  3  train  foo

Ultimas 2 filas:
   A          B    C  D      E    F
2  3 2023-01-01  1.0  3   test  foo
3  4 2023-01-01  1.0  3  train  foo